USE [RMS]
GO
/****** Object:  Table [dbo].[notification]    Script Date: 09/08/2022 01:01:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[notification](
	[_from] [varchar](255) NULL,
	[_to] [varchar](255) NULL,
	[_comment] [varchar](max) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[notification] ([_from], [_to], [_comment]) VALUES (N'00000000', N'00000000', N'2022-09-02 sorry Your order has been canceled.Stay with us')
INSERT [dbo].[notification] ([_from], [_to], [_comment]) VALUES (N'00000000', N'01724615130', N'2022-09-03 Your order has been placed.Our Rider Will knock You Soon')
INSERT [dbo].[notification] ([_from], [_to], [_comment]) VALUES (N'190204093', N'00000000', N'2022-09-02 Your order has been placed.Our Rider Will knock You Soon')
/****** Object:  Table [dbo].[MANEGER]    Script Date: 09/08/2022 01:01:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MANEGER](
	[M_ID] [varchar](255) NOT NULL,
	[NAME] [varchar](255) NULL,
	[PHONE_NUMBER] [varchar](255) NULL,
	[PASSWORD] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[M_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MANEGER] ([M_ID], [NAME], [PHONE_NUMBER], [PASSWORD]) VALUES (N'00000000', N'UNKNOWN', N'00000000', N'11111111')
/****** Object:  Table [dbo].[GALLERY]    Script Date: 09/08/2022 01:01:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GALLERY](
	[ID] [int] IDENTITY(101,1) NOT NULL,
	[FOOD_NAME] [varchar](255) NULL,
	[IMG_PATH] [varchar](max) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[GALLERY] ON
INSERT [dbo].[GALLERY] ([ID], [FOOD_NAME], [IMG_PATH]) VALUES (108, N'Chicken Fry', N'F:\CSE_PROJECT\Java\Restaurant-Management-System\photo\Spicy-Chicken-Fry-Recipe.jpg')
INSERT [dbo].[GALLERY] ([ID], [FOOD_NAME], [IMG_PATH]) VALUES (109, N'Coke', N'F:\CSE_PROJECT\Java\Restaurant-Management-System\photo\pexels-jonathan-borba-2983100.jpg')
INSERT [dbo].[GALLERY] ([ID], [FOOD_NAME], [IMG_PATH]) VALUES (110, N'pizza', N'F:\CSE_PROJECT\Java\Restaurant-Management-System\photo\pexels-narda-yescas-1566837.jpg')
SET IDENTITY_INSERT [dbo].[GALLERY] OFF
/****** Object:  Table [dbo].[FOOD_MENU]    Script Date: 09/08/2022 01:01:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FOOD_MENU](
	[DISH_ID] [varchar](255) NOT NULL,
	[DISH_NAME] [varchar](255) NULL,
	[CATEGORY] [varchar](255) NULL,
	[SPICINESS] [varchar](255) NULL,
	[PRICE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DISH_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[FOOD_MENU] ([DISH_ID], [DISH_NAME], [CATEGORY], [SPICINESS], [PRICE]) VALUES (N'01', N'Chicken Burger', N'Chicken', N'Mild', 149)
INSERT [dbo].[FOOD_MENU] ([DISH_ID], [DISH_NAME], [CATEGORY], [SPICINESS], [PRICE]) VALUES (N'02', N'Beef Burger', N'Beef', N'Hot', 169)
INSERT [dbo].[FOOD_MENU] ([DISH_ID], [DISH_NAME], [CATEGORY], [SPICINESS], [PRICE]) VALUES (N'03', N'Chicken Subway Sandwich', N'Chicken', N'Mild', 189)
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 09/08/2022 01:01:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[E_ID] [varchar](255) NOT NULL,
	[NAME] [varchar](255) NULL,
	[PHONE_NUMBER] [varchar](255) NULL,
	[PASSWORD] [varchar](255) NULL,
	[STATUS] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[E_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[EMPLOYEE] ([E_ID], [NAME], [PHONE_NUMBER], [PASSWORD], [STATUS]) VALUES (N'00000000', N'UNKNOWN', N'00000000', N'11111111', N'SERVER')
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 09/08/2022 01:01:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CUSTOMER_ID] [varchar](255) NOT NULL,
	[NAME] [varchar](255) NOT NULL,
	[PHONE_NO] [varchar](225) NOT NULL,
	[ADDRESS] [varchar](225) NULL,
	[PASSWORD] [varchar](225) NULL,
	[CREDIT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CUSTOMER] ([CUSTOMER_ID], [NAME], [PHONE_NO], [ADDRESS], [PASSWORD], [CREDIT]) VALUES (N'00000000', N'UNKNOWN', N'00000000', N'DHAKA', N'11111111', 2194)
INSERT [dbo].[CUSTOMER] ([CUSTOMER_ID], [NAME], [PHONE_NO], [ADDRESS], [PASSWORD], [CREDIT]) VALUES (N'01707799627', N'BULBUL', N'01707799627', N'H11 MOHANAGOR RD 2 BLOCK D', N'11111111', 122)
INSERT [dbo].[CUSTOMER] ([CUSTOMER_ID], [NAME], [PHONE_NO], [ADDRESS], [PASSWORD], [CREDIT]) VALUES (N'01710462424', N'TOHA', N'01710462424', N'H 98 KOLABAGAN ', N'11111111', 0)
/****** Object:  Table [dbo].[CASHIER]    Script Date: 09/08/2022 01:01:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CASHIER](
	[C_ID] [varchar](255) NOT NULL,
	[NAME] [varchar](255) NULL,
	[PHONE_NUMBER] [varchar](255) NULL,
	[PASSWORD] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CASHIER] ([C_ID], [NAME], [PHONE_NUMBER], [PASSWORD]) VALUES (N'00000000', N'UNKNOWN', N'00000000', N'11111111')
/****** Object:  Table [dbo].[ADMIN]    Script Date: 09/08/2022 01:01:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADMIN](
	[A_ID] [varchar](255) NOT NULL,
	[NAME] [varchar](255) NOT NULL,
	[PHONE_NUMBER] [varchar](255) NULL,
	[PASSWORD] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[A_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ADMIN] ([A_ID], [NAME], [PHONE_NUMBER], [PASSWORD]) VALUES (N'00000000', N'ADMIN', N'00000000', N'11111111')
INSERT [dbo].[ADMIN] ([A_ID], [NAME], [PHONE_NUMBER], [PASSWORD]) VALUES (N'190204093', N'ARONOCK', N'01724615130', N'11111111')
INSERT [dbo].[ADMIN] ([A_ID], [NAME], [PHONE_NUMBER], [PASSWORD]) VALUES (N'190204101', N'safi', N'190204101', N'11111111')
/****** Object:  Table [dbo].[TEMP_BILL]    Script Date: 09/08/2022 01:01:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TEMP_BILL](
	[ITEM] [varchar](255) NULL,
	[QUANTITY] [int] NULL,
	[UNIT_PRICE] [int] NULL,
	[TOTAL] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TABLE_S]    Script Date: 09/08/2022 01:01:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TABLE_S](
	[BOOK_NO] [int] IDENTITY(1,1) NOT NULL,
	[E_ID] [varchar](255) NULL,
	[TABLE_NO] [varchar](255) NULL,
	[CUSTOMER_ID] [varchar](255) NULL,
	[DATE] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[BOOK_NO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TABLE_S] ON
INSERT [dbo].[TABLE_S] ([BOOK_NO], [E_ID], [TABLE_NO], [CUSTOMER_ID], [DATE]) VALUES (1, N'00000000', N'10', N'01724615130', N'2022-07-11')
INSERT [dbo].[TABLE_S] ([BOOK_NO], [E_ID], [TABLE_NO], [CUSTOMER_ID], [DATE]) VALUES (2, N'00000000', N'', N'01724615130', N'2022-07-12')
INSERT [dbo].[TABLE_S] ([BOOK_NO], [E_ID], [TABLE_NO], [CUSTOMER_ID], [DATE]) VALUES (3, N'00000000', N'9', N'01724615130', N'2022-07-12')
SET IDENTITY_INSERT [dbo].[TABLE_S] OFF
/****** Object:  Table [dbo].[SALARY]    Script Date: 09/08/2022 01:01:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SALARY](
	[A_ID] [varchar](255) NULL,
	[E_ID] [varchar](255) NULL,
	[C_ID] [varchar](255) NULL,
	[M_ID] [varchar](255) NULL,
	[SALARY] [varchar](255) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SALARY] ([A_ID], [E_ID], [C_ID], [M_ID], [SALARY]) VALUES (NULL, NULL, NULL, N'00000000', N'20000')
INSERT [dbo].[SALARY] ([A_ID], [E_ID], [C_ID], [M_ID], [SALARY]) VALUES (N'00000000', NULL, NULL, NULL, N'30000')
INSERT [dbo].[SALARY] ([A_ID], [E_ID], [C_ID], [M_ID], [SALARY]) VALUES (NULL, NULL, N'00000000', NULL, N'15000')
/****** Object:  Table [dbo].[ONLINE_ORDER]    Script Date: 09/08/2022 01:01:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ONLINE_ORDER](
	[CUSTOMER_ID] [varchar](255) NULL,
	[NAME] [varchar](255) NULL,
	[FOOD_LIST] [varchar](max) NULL,
	[IS_CHECKED] [varchar](10) NULL,
	[TOTAL_PRICE] [int] NULL,
	[DATE] [varchar](255) NULL,
	[TIME] [varchar](255) NULL,
	[ADDRESS] [varchar](255) NULL,
	[PHONE_NUMBER] [varchar](255) NULL,
	[paymentMethod] [varchar](255) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ONLINE_ORDER] ([CUSTOMER_ID], [NAME], [FOOD_LIST], [IS_CHECKED], [TOTAL_PRICE], [DATE], [TIME], [ADDRESS], [PHONE_NUMBER], [paymentMethod]) VALUES (N'01793375069', N'POUSI', N'temp,Beef Burger', N'NO', 344, N'2022-09-04', N'12:22:59 PM', N'MIRPUR-2', N'01793375069', N'bkash')
INSERT [dbo].[ONLINE_ORDER] ([CUSTOMER_ID], [NAME], [FOOD_LIST], [IS_CHECKED], [TOTAL_PRICE], [DATE], [TIME], [ADDRESS], [PHONE_NUMBER], [paymentMethod]) VALUES (N'01724615130', N'Aronock', N'temp,Grilled Chicken Wrap', N'NO', 1305, N'2022-09-04', N'02:13:45 PM', N'Dhaka', N'01724615130', N'Cash')
INSERT [dbo].[ONLINE_ORDER] ([CUSTOMER_ID], [NAME], [FOOD_LIST], [IS_CHECKED], [TOTAL_PRICE], [DATE], [TIME], [ADDRESS], [PHONE_NUMBER], [paymentMethod]) VALUES (N'01948590817', N'symum', N'temp,Chicken Subway Sandwich,Grilled Chicken Sandwich', N'NO', 589, N'2022-09-04', N'02:18:52 PM', N'dhaka', N'01948590817', N'Cash')
/****** Object:  Table [dbo].[BILLS]    Script Date: 09/08/2022 01:01:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BILLS](
	[BILL_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [varchar](255) NULL,
	[E_ID] [varchar](255) NULL,
	[C_ID] [varchar](255) NULL,
	[PAID] [int] NULL,
	[PAYMENT_METHOD] [varchar](255) NULL,
	[YEAR] [int] NULL,
	[MONTH] [int] NULL,
	[TIME] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[BILL_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BILLS] ON
INSERT [dbo].[BILLS] ([BILL_ID], [CUSTOMER_ID], [E_ID], [C_ID], [PAID], [PAYMENT_METHOD], [YEAR], [MONTH], [TIME]) VALUES (1, N'01724615130', N'00000000', N'00000000', 298, N'Cash', 2022, 7, N'2022-07-11')
INSERT [dbo].[BILLS] ([BILL_ID], [CUSTOMER_ID], [E_ID], [C_ID], [PAID], [PAYMENT_METHOD], [YEAR], [MONTH], [TIME]) VALUES (2, N'01724615130', N'00000000', N'00000000', 149, N'Cash', 2022, 7, N'2022-07-11')
INSERT [dbo].[BILLS] ([BILL_ID], [CUSTOMER_ID], [E_ID], [C_ID], [PAID], [PAYMENT_METHOD], [YEAR], [MONTH], [TIME]) VALUES (3, N'01724615130', N'00000000', N'00000000', 318, N'Cash', 2022, 7, N'2022-07-11')
SET IDENTITY_INSERT [dbo].[BILLS] OFF
/****** Object:  ForeignKey [FK__BILLS__C_ID__286302EC]    Script Date: 09/08/2022 01:01:38 ******/
ALTER TABLE [dbo].[BILLS]  WITH CHECK ADD FOREIGN KEY([C_ID])
REFERENCES [dbo].[CASHIER] ([C_ID])
GO
/****** Object:  ForeignKey [FK__BILLS__CUSTOMER___267ABA7A]    Script Date: 09/08/2022 01:01:38 ******/
ALTER TABLE [dbo].[BILLS]  WITH CHECK ADD FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMER_ID])
GO
/****** Object:  ForeignKey [FK__BILLS__E_ID__276EDEB3]    Script Date: 09/08/2022 01:01:38 ******/
ALTER TABLE [dbo].[BILLS]  WITH CHECK ADD FOREIGN KEY([E_ID])
REFERENCES [dbo].[EMPLOYEE] ([E_ID])
GO
/****** Object:  ForeignKey [FK__ONLINE_ORD__TIME__534D60F1]    Script Date: 09/08/2022 01:01:38 ******/
ALTER TABLE [dbo].[ONLINE_ORDER]  WITH CHECK ADD FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMER_ID])
GO
/****** Object:  ForeignKey [FK__SALARY__C_ID__5070F446]    Script Date: 09/08/2022 01:01:38 ******/
ALTER TABLE [dbo].[SALARY]  WITH CHECK ADD FOREIGN KEY([C_ID])
REFERENCES [dbo].[CASHIER] ([C_ID])
GO
/****** Object:  ForeignKey [FK__SALARY__E_ID__4F7CD00D]    Script Date: 09/08/2022 01:01:38 ******/
ALTER TABLE [dbo].[SALARY]  WITH CHECK ADD FOREIGN KEY([E_ID])
REFERENCES [dbo].[EMPLOYEE] ([E_ID])
GO
/****** Object:  ForeignKey [FK__SALARY__M_ID__5165187F]    Script Date: 09/08/2022 01:01:38 ******/
ALTER TABLE [dbo].[SALARY]  WITH CHECK ADD FOREIGN KEY([M_ID])
REFERENCES [dbo].[MANEGER] ([M_ID])
GO
/****** Object:  ForeignKey [FK__SALARY__SALARY__4E88ABD4]    Script Date: 09/08/2022 01:01:38 ******/
ALTER TABLE [dbo].[SALARY]  WITH CHECK ADD FOREIGN KEY([A_ID])
REFERENCES [dbo].[ADMIN] ([A_ID])
GO
/****** Object:  ForeignKey [FK__TABLE_S__CUSTOME__3A81B327]    Script Date: 09/08/2022 01:01:38 ******/
ALTER TABLE [dbo].[TABLE_S]  WITH CHECK ADD FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMER_ID])
GO
/****** Object:  ForeignKey [FK__TABLE_S__E_ID__398D8EEE]    Script Date: 09/08/2022 01:01:38 ******/
ALTER TABLE [dbo].[TABLE_S]  WITH CHECK ADD FOREIGN KEY([E_ID])
REFERENCES [dbo].[EMPLOYEE] ([E_ID])
GO
